<div class="card">
  <div class="card-body">
    <div class="pagetitle m-2">
      <h1>Empleados</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/app">Inicio</a></li>
          <li class="breadcrumb-item active">Empleados</li>
        </ol>
      </nav>
    </div>
    <div class="row">
      <div class="col-12 mt-2">
        <button type="button" class="btn btn-primary" (click)="addEmployeeModal()">Agregar Empleado</button>
      </div>
    </div>
    <hr>
    <div class="table-responsive">
      <table class="table table-bordered table-hover text-center">
        <thead class="thead-ligth">
          <tr>
            <th scope="row" class="title_table">Nombre del empleado</th>
            <th scope="row" class="title_table">Cargo</th>
            <th scope="row" class="title_table">Email</th>
            <th scope="row" class="title_table">Conocimiento</th>
            <th scope="row" class="title_table icon">Acciones</th>
          </tr>
        </thead>
        <tbody class="text-center">
          <tr *ngFor="let item of employee">
            <td>{{item.employeeName}}</td>
            <td>{{item.employeeCharge}}</td>
            <td>{{item.employeeEmail}}</td>
            <td>{{item.employeeKnowledge}}</td>
            <td class="icon">
              <button type="button" class="btn btn-warning btn-sm m-1" (click)="editEmployeeModal(item.employeeId)">
                <i class="fas fa-edit"></i></button>
              <button type="button" class="btn btn-danger btn-sm m-1" (click)="deleteEmployee(item.employeeId)">
                <i class="fas fa-trash"></i></button>
              <button type="button" class="btn btn-success btn-sm m-1" (click)="viewTeams(item.employeeId)">
                <i class="fas bi-card-list"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
