<div class="card">
  <div class="card-body">
    <h1 class="card-title">Gestioanar Empleados</h1>
    <div class="row">
      <!-- <div class="col-12 row">
        <div class="col-3">
          <input class="form-control" type="search" placeholder="Buscar empleado" aria-label="Search">
        </div>
        <div class="col-2">
          <button type="submit" class="btn btn-primary ">Consultar</button>
        </div>
      </div> -->
      <div class="col-12 mt-2">
        <button type="button" class="btn btn-primary" (click)="addEmployeeModal()">Agregar Empleado</button>
      </div>
    </div>
    <hr>
    <div class="table-responsive">
      <table class="table table-bordered table-hover ">
        <thead class="thead-ligth">
          <tr>
            <th scope="row" class="title_table">Nombre del empleado</th>
            <th scope="row" class="title_table">Cargo</th>
            <th scope="row" class="title_table">Email</th>
            <th scope="row" class="title_table">Conocimiento</th>
            <th scope="row" class="title_table icon">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of employee">
            <td>{{item.employeeName}}</td>
            <td>{{item.employeeCharge}}</td>
            <td>{{item.employeeEmail}}</td>
            <td>{{item.employeeKnowledge}}</td>
            <td class="icon">
              <button type="button" class="btn btn-success" (click)="editEmployeeModal(item.employeeId)">
                <i class="fas fa-edit"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
