<div class="pagetitle">
  <h1>Dashboard</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/app">Home</a></li>
      <li class="breadcrumb-item active">Dashboard</li>
    </ol>
  </nav>
</div><!-- End Page Title -->

<section class="section dashboard">
  <div class="row">

    <div class="col-12">
      <div class="row">

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, impedit quia aperiam ratione hic nobis
          vitae delectus earum neque incidunt ab ad. Quisquam adipisci modi possimus ipsam fugit expedita dolorem.</p>

      </div>
    </div>

  </div>
</section>
