<div class="card">
  <div class="card-body">
    <div class="pagetitle m-2">
      <h1>Equipo</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/app">Inicio</a></li>
          <li class="breadcrumb-item active">Equipo</li>
        </ol>
      </nav>
    </div>
    <div class="row">
      <div class="col-3">
        <h2>Agregar un nuevo equipo</h2>
      </div>
      <div class="col-3">
        <button type="button" class="btn btn-primary " (click)="addTeamModal()"> Añadir un equipo</button>
      </div>
    </div>
    <hr>
    <div class="table-responsive">
      <table class="table table-bordered table-hover ">
        <thead class="thead-ligth text-center ">
          <tr>
            <th scope="row" class="title_table">#</th>
            <th scope="row" class="title_table">Nombre del Equipo</th>
            <th scope="row" class="title_table">Area</th>
            <th scope="row" class="title_table icon">Acciones</th>
          </tr>
        </thead>
        <tbody class="text-center">
          <tr *ngFor="let item of team;let i = index">
            <td>{{i + 1}}</td>
            <td>{{item.teamName}}</td>
            <td>{{item.areaName}}</td>
            <td class="icon m">
              <button class="btn btn-warning btn-sm m-1" (click)="editTeamModal(item.teamId)">
                <i class="fas fa-edit"></i></button>
              <button class="btn btn-success btn-sm m-1" [routerLink]="['add-employee.ts-team',item.teamId]">
                <i class="fa-solid fa-user-plus"></i></button>
            </td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>
