<div class="card justify-content-center">
  <div class="card-body">
    <h1 class="card-title">Proyectos</h1>
    <div class="row">
      <h2 class="col-4">Agregar un nuevo proyecto</h2>
      <h4 class="col-2">
        <button type="button" class="btn btn-primary" (click)="addProjetModal()">Agregar proyecto
        </button>
      </h4>
      <!-- <div class="col-2"></div>
      <div class="col-4">
        <div class="row">
          <div class="col-5">
            <input class="form-control col-6" type="search" placeholder="Buscar proyecto" aria-label="Search">
          </div>
          <div class="col-1">
            <button type="submit" class="btn btn-primary btn-sm "><i class="fa-solid fa-magnifying-glass"></i></button>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</div>


<div class="card">
  <div class="card-body">
    <h1 class="card-title">Lista de proyectos</h1>
    <div class="table-responsive">
      <table class="table table-bordered table-hover">
        <thead class="thead-ligth">
          <tr>
            <th scope="row" class="title_table">Nombre del proyecto</th>
            <th scope="row" class="title_table">Área</th>
            <th scope="row" class="title_table">Cliente</th>
            <th scope="row" class="title_table icon">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of proyect">
            <td>{{item.projectName}}</td>
            <td>{{item.areaId}}</td>
            <td>{{item.clientId}}</td>
            <td class="icon">


              <button type="button" class="btn btn-success" (click)="editProjetModal(item.projectId)"><i
                  class="fas fa-edit"></i></button>
              <button type="button" class="btn btn-primary mx-2" [routerLink]="['subproject']"><i
                  class="fa fa-eye"></i></button>

            </td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>
