<div class="container">
  <div class="title">
    <p>Visualizar Mejoras</p>
  </div>


  <div class="form-row align-items-center">
    <form class="form" [formGroup]="improvementsForm">

      <div class="form-row">
        <div class="form-col">
          <div class="form-group">
            <label>Area</label>
            <input type="text" id="areaName" class="form-control" formControlName="areaName">
          </div>
        </div>
        <div class="form-col">
          <div class="form-group">
            <label>Equipo</label>
            <input type="text" id="teamName" class="form-control" formControlName="teamName">
          </div>
        </div>

        <div class="form-col">
          <div class="form-group">
            <label for="teamName">Historia de usuario</label>
            <input type="text" id="teamName" class="form-control" formControlName="userStoryName">
          </div>
        </div>

        <div class="form-col">
          <div class="form-group">
            <label>Tarea</label>
            <input type="text" id="teamName" class="form-control" formControlName="nameTask">
          </div>
        </div>

        <div class="form-col">
          <div class="form-group">
            <label>Tipo de observación</label>
            <input type="text" id="teamName" class="form-control" formControlName="observationName">
          </div>
        </div>

        <div class="form-col">
          <div class="form-group">
            <label>descripción</label>
            <input type="text" id="teamName" class="form-control" formControlName="observationn">
          </div>
        </div>





      </div>





      <button class="btn btn btn-primary mb-2 ">Guardar</button><br>
    </form>
  </div>

</div>
