<div class="card">
    <div class="card-body">
      <div class="pagetitle m-2">
        <h1>Añadir HU</h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/app">Inicio</a></li>
            <li class="breadcrumb-item active">Sprint</li>
            <li class="breadcrumb-item active">Añadir HU</li>
          </ol>
        </nav>

      </div>
      <div>
        <div>{{sprintId}}</div>
        <div></div>
        <div></div>
      </div>
      
    </div>
  </div>
  
