<aside id="sidebar" class="sidebar">
  <ul class="sidebar-nav" id="sidebar-nav">
    <li class="nav-item selec-sidenav">
      <a class="nav-link collapsed" routerLink="/app">
        <i class="bi bi-grid"></i>
        <span>Dashboard</span>
      </a>
    </li>
    <li class="nav-item selec-sidenav">
      <a class="nav-link collapsed" routerLink="proyect">
        <i class="bi bi-wallet-fill"></i>
        <span>Proyectos</span>
      </a>
    </li>
    <li class="nav-item selec-sidenav">
      <a class="nav-link collapsed" routerLink="proyect/subproject">
        <i class="bi bi-wallet2"></i>
        <span>Subproyectos</span>
      </a>
    </li>
    <li class="nav-item selec-sidenav">
      <a class="nav-link collapsed" routerLink="area">
        <i class="bi bi-back"></i>
        <span>Area</span>
      </a>
    </li>
    <li class="nav-item selec-sidenav">
      <a class="nav-link collapsed" routerLink="customer">
        <i class="bi bi-person-workspace"></i>
        <span>Gestionar Clientes</span>
      </a>
    </li>
    <li class="nav-item selec-sidenav">
      <a class="nav-link collapsed" routerLink="proposal">
        <i class="bi bi-capslock"></i>
        <span>Gestionar propuestas</span>
      </a>
    </li>
    <li class="nav-item selec-sidenav">
      <a class="nav-link collapsed" routerLink="user-story">
        <i class="bi bi-file-plus"></i>
        <span>Historias de usuario</span>
      </a>
    </li>
    <li class="nav-item selec-sidenav">
      <a class="nav-link collapsed" routerLink="teams">
        <i class="bi bi-people"></i>
        <span>Gestionar Equipo</span>
      </a>
    </li>
    <!-- <li class="nav-item selec-sidenav">
      <a class="nav-link collapsed" routerLink="teams/team-task">
        <i class="bi bi-inboxes"></i>
        <span>Tareas por Equipo</span>
      </a>
    </li> -->
    <li class="nav-item selec-sidenav">
      <a class="nav-link collapsed" routerLink="employees">
        <i class="bi bi-person-gear"></i>
        <span>Gestionar Empleados</span>
      </a>
    </li>
    <li class="nav-item selec-sidenav">
      <a class="nav-link collapsed" routerLink="sprints">
        <i class="bi bi-boxes"></i>
        <span>Gestionar Sprint</span>
      </a>
    </li>
    <li class="nav-item selec-sidenav">
      <a class="nav-link collapsed" routerLink="tasks">
        <i class="bi bi-list-task"></i>
        <span>Agregar y estimar Tareas en HU</span>
      </a>
    </li>
    <li class="nav-item selec-sidenav">
      <a class="nav-link collapsed" routerLink="board">
        <i class="bi bi-clipboard"></i>
        <span>Gestionar Tablero</span>
      </a>
    </li>
    <li class="nav-item selec-sidenav">
      <a class="nav-link collapsed" routerLink="improvements">
        <i class="bi bi-clipboard-data"></i>
        <span>Gestionar Mejoras</span>
      </a>
    </li>
  </ul>
</aside>
