<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

  <ul class="sidebar-nav" id="sidebar-nav">

    <li class="nav-item selec-sidenav">
      <a class="nav-link collapsed" routerLink="/app">
        <i class="bi bi-grid"></i>
        <span>Dashboard</span>
      </a>
    </li><!-- End Dashboard Nav -->

    <li class="nav-item selec-sidenav">
      <a class="nav-link collapsed" routerLink="proyect">
        <i class="bi bi-wallet-fill"></i>
        <span>Proyectos</span>
      </a>
    </li><!-- End Proyectos Page Nav -->

    <li class="nav-item selec-sidenav">
      <a class="nav-link collapsed" routerLink="proyect/subproject">
        <i class="bi bi-wallet2"></i>
        <span>Subproyectos</span>
      </a>
    </li><!-- End Subproyectos Page Nav -->

    <li class="nav-item selec-sidenav">
      <a class="nav-link collapsed" routerLink="area">
        <i class="bi bi-clipboard"></i>
        <span>Area</span>
      </a>
    </li><!-- End Area Page Nav -->

    <li class="nav-item selec-sidenav">
      <a class="nav-link collapsed" routerLink="customer">
        <i class="bi bi-file-person"></i>
        <span>Gestionar Clientes</span>
      </a>
    </li><!-- End Gestionar Clientes Page Nav -->

    <li class="nav-item selec-sidenav">
      <a class="nav-link collapsed" routerLink="user-story">
        <i class="bi bi-file-plus"></i>
        <span>Historias de usuario</span>
      </a>
    </li><!-- End user-story Page Nav -->

    <li class="nav-item selec-sidenav">
      <a class="nav-link collapsed" routerLink="teams">
        <i class="bi bi-hammer"></i>
        <span>Gestionar Equipo</span>
      </a>
    </li><!-- End teams Page Nav -->

    <li class="nav-item selec-sidenav">
      <a class="nav-link collapsed" routerLink="teams/team-task">
        <i class="bi bi-inboxes"></i>
        <span>Tareas por Equipo</span>
      </a>
    </li><!-- End teams/team-task Page Nav -->

    <li class="nav-item selec-sidenav">
      <a class="nav-link collapsed" routerLink="employees">
        <i class="bi bi-hammer"></i>
        <span>Gestionar Empleados</span>
      </a>
    </li><!-- End employees Page Nav -->

    <li class="nav-item selec-sidenav">
      <a class="nav-link collapsed" routerLink="sprints">
        <i class="bi bi-hammer"></i>
        <span>Gestionar Sprint</span>
      </a>
    </li><!-- End sprints Page Nav -->

    <li class="nav-item selec-sidenav">
      <a class="nav-link collapsed" routerLink="board">
        <i class="bi bi-hammer"></i>
        <span>Gestionar Tablero</span>
      </a>
    </li><!-- End board Page Nav -->

    <li class="nav-item selec-sidenav">
      <a class="nav-link collapsed" routerLink="improvements">
        <i class="bi bi-hammer"></i>
        <span>Gestionar Mejoras</span>
      </a>
    </li><!-- End improvements Page Nav -->

  </ul>

</aside><!-- End Sidebar-->
