<div class="card">
    <div class="card-body">
        <div class="pagetitle m-2">
            <h1>Agregar y Estimar tareas en HU</h1>
            <nav>
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/app">Inicio</a></li>
                <li class="breadcrumb-item active">A. y E. Tareas en HU</li>
              </ol>
            </nav>
          </div>
        <!-- <form [formGroup]="addEstimateHU" >
            <div class="row">
                <div class="col-12">
                    <div class="row col-12">
                        <label class="col-6 col-form-label">Seleccione el equipo </label>
                        <div class="col-12">
                            <select class="form-select mt-2 mb-2" formControlName="teamId">
                                <option *ngFor="let item of teams" value="{{item.teamId}}">{{item.teamName}}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 text-center mt-4">
                <button class="btn btn-primary mx-2 mb-2" type="submit" [disabled]="addEstimateHU.invalid">Editar</button>
            </div>
        </form>  -->
    </div>
</div>

