<div class="card">
    <div class="card-body">
        <div class="pagetitle m-2">
            <h1>Agregar y Estimar tareas en HU</h1>
            <nav>
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/app">Inicio</a></li>
                <li class="breadcrumb-item active">A. y E. Tareas en HU</li>
              </ol>
            </nav>
          </div>
        <form [formGroup]="addEstimateHU" (ngSubmit)="getStoryUserbyTeam()">
            <div class="row">
                <div class="col-12">
                    <div class="row col-12">
                        <label class="col-2 col-form-label">Seleccione el equipo </label>
                        <div class="col-4">
                            <select class="form-select mt-2 mb-2" formControlName="teamId">
                                <option *ngFor="let item of teams" value="{{item.teamId}}">{{item.teamName}}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 text-center mt-4">
                <button mat-raised-button color="primary"  class="btn btn-primary mx-2 mb-2" type="submit" [disabled]="addEstimateHU.invalid">Buscar</button>
            </div>
        </form> 
        <div class="col-12">
            <!-- <label *ngFor="let item of taskByUserStory">
               <p>Sprint: <strong>{{item.sprintNumber}}</strong></p> 
            </label> -->
        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-hover text-center">
              <thead class="thead-ligth">
                <tr>
                  <th scope="row" class="title_table">Tareas/historias</th>
                  <th scope="row" class="title_table icon">Puntos HU</th>
                  <th scope="row" class="title_table icon">Horas</th>
                  <th scope="row" class="title_table icon">Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of userStoryTeam">
                  <td class="title_table" > <strong> {{item.userStoryName}}</strong> 
                    <hr>
                      <p *ngFor="let item of taskByUserStory[item.userStoryId]" class="title_table text-center">
                        {{item.taskName}} </p>
                        
                  </td>
                  <td class="title_table" ><strong>{{item.userStoryScore}} </strong> </td>
                  <td  > <strong>{{item.userStoryScore * 8}}</strong>
                    <hr>
                        <p *ngFor="let item of taskByUserStory[item.userStoryId]" class="title_table text-center">
                        {{item.taskHours}} </p>
                  </td>
                  <td class="icon  text-center" > <p>N/A</p> 
                    <hr>
                    <tr>
                        <button type="button" class="btn btn-warning btn-sm m-1"><i class="fas fa-edit"></i></button>
                    </tr>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
    </div>
</div>

