<div class="card">
  <div class="card-body" *ngIf="subproject.length > 0; else emptyState">
    <h1 class="card-title">Subproyectos de {{ subproject[0].projectName }} </h1>
    <div class="row">
      <div class="table-responsive">
        <table class="table table-bordered table-hover text-center">
          <thead>
            <tr>
              <th>Subproyecto</th>
              <th>Equipo</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of subproject">
                <td> {{item.subProjectName}} </td>
                <td> {{item.teamName}} </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<ng-template #emptyState>
  <div class="template-no-subproject">
    <div class="template-no-subproject-content">
      <h1>Este proyecto no tiene ningun subproyecto agregado</h1>
      <h2>Agrega un nuevo subproyecto</h2>
      <button type="button" class="btn btn-primary btn-sm m-1" (click)="toSubproject()">Agregar Subproyecto</button>
    </div>
  </div>
</ng-template>
