<div class="container">
  <div class="title">
    <p> Agregar Proyecto</p>
  </div>

  <div class="form-row align-items-center">
    <form class="project-form" [formGroup]="projectAddForm" (ngSubmit)="saveProject()">

      <div class="form-group">
        <label>Nombre del proyecto:</label>
        <input type="text" class="form-control" placeholder="Ingrese el nombre del proyecto"
               formControlName="projectName">
      </div>

      <div class="form-group mb-3" >
        <span class="mr-sm">Seleccione el cliente:</span>
        <div class="label-text">
          <select class="form-control form-select" formControlName="projectClient">
            <option  *ngFor="let client of clients" value="{{client.clientNit}}">{{ client.client_name}}</option>
         </select>
        </div>
      </div>

      <div class="form-group">
        <label>Seleccione el área:</label>
        <select class="form-control form-select" formControlName="projectArea">
          <option value="{{area.areaId}}" *ngFor="let area of areas">{{area.areaName}}</option>
        </select>
      </div>

      <div class="input-group mb-3">
        <form>
          <div class="form-group">
            <span class="mr-sm">Archivo</span>
            <input type="file" class="form-control-file" formControlName="archive" (change)="upload_image($event)">
          </div>
        </form>
      </div>
      <div class="text-center">
        <button class="btn btn btn-primary mb-2" type="submit" [disabled]="projectAddForm.invalid" >Agregar</button>
      </div>

    </form>
  </div>
</div>

