<br>
<div class="text"> <h2>  Seguimiento del Sprint:  {{nuSprint}} </h2></div>

<div class="graphic-generic">
  <div class="graphic">
    <ngx-charts-line-chart
      [view]="view"
      [scheme]="colorScheme"
      [legend]="legend"
      [legendTitle]="titulo"
      [autoScale]="autoScale"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [xAxis]="xAxis"
      [yAxis]="yAxis"
      [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel"
      [timeline]="timeline"
      [results]="result"
      >
    </ngx-charts-line-chart>
  </div>
</div>

