<main>
    <div class="container">
      <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
              <div class="d-flex justify-content-center py-4">
                <a href="index.html" class="logo d-flex align-items-center w-auto">
                  <img src="assets/img/logo.png" alt="">
                  <span class="d-none d-lg-block">Scrum Manage</span>
                </a>
              </div>
              <div class="card mb-3">
                <div class="card-body">
                  <div class="pt-4 pb-2">
                    <h5 class="card-title text-center pb-0 fs-4">Crear cuenta</h5>
                    <p class="text-center small">Ingresa los siguientes campos</p>
                  </div>
                  <form class="row g-3 needs-validation" [formGroup]="registerForm" (ngSubmit)="register()">
                    <div class="col-12">
                        <label for="youremployeeName" class="form-label">Nombre completo</label>
    
                          <input type="text" class="form-control" formControlName="employeeName" id="youremployeeName">
                          <div *ngIf="registerForm.get('employeeName')?.dirty || registerForm.get('employeeName')?.touched">
                            <p *ngIf="registerForm.get('employeeName')?.hasError('required')"
                              class="form-red-validator m-1">
                              Debe escribir su nombre
                            </p>
                        </div>
                    </div>

                    <div class="col-12">
                        <label for="youremployeeCharge" class="form-label">Cargo</label>
    
                          <input type="text" class="form-control" formControlName="employeeCharge" id="youremployeeCharge">
                          <div *ngIf="registerForm.get('employeeCharge')?.dirty || registerForm.get('employeeCharge')?.touched">
                            <p *ngIf="registerForm.get('employeeCharge')?.hasError('required')"
                              class="form-red-validator m-1">
                              Debe escribir su Cargo
                            </p>
                        </div>
                    </div>
                    <div class="col-12">
                        <label for="youremployeeKnowledge" class="form-label">Conocimiento</label>
                          <input type="text" class="form-control" formControlName="employeeKnowledge" id="youremployeeKnowledge">
                          <div *ngIf="registerForm.get('employeeKnowledge')?.dirty || registerForm.get('employeeKnowledge')?.touched">
                            <p *ngIf="registerForm.get('employeeKnowledge')?.hasError('required')"
                              class="form-red-validator m-1">
                              Debe escribir su conocimiento
                            </p>
                        </div>
                    </div>
                    <div class="col-12">
                        <label for="yourUsername" class="form-label">email</label>
                        <div class="input-group">
                            <span class="input-group-text" id="inputGroupPrepend">@</span>
                            <input type="email" class="form-control" formControlName="employeeEmail" id="yourUserEmail">
                        </div>
                        <div *ngIf="registerForm.get('employeeEmail')?.dirty || registerForm.get('employeeEmail')?.touched">
                            <p *ngIf="registerForm.get('employeeEmail')?.hasError('required')"
                            class="form-red-validator m-1">
                            Debe escribir su email
                            </p>
                        </div>
                    </div>
                    <div class="col-12">
                        <label for="youremployeePassword" class="form-label">Contraseña</label>
                          <input type="password" class="form-control" formControlName="employeePassword" id="youremployeePassword">
                          <div *ngIf="registerForm.get('employeePassword')?.dirty || registerForm.get('employeePassword')?.touched">
                            <p *ngIf="registerForm.get('employeePassword')?.hasError('required')"
                              class="form-red-validator m-1">
                              Debe escribir su contraseña
                            </p>
                        </div>
                    </div>
  
                    
                    <div class="col-12">
                      <button class="btn btn-primary w-100"  [disabled]="registerForm.invalid" type="submit">Registrar</button>
                    </div>
                    <div class="col-12">
                        <p class="small mb-0">Ya tienes cuenta? <a routerLink='/auth/'>Inicia sesion</a></p>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </main>
  