<div class="card">
  <div class="card-body">
    <h1 class="card-title">Editar equipo</h1>
    <form [formGroup]="teamsEditForm" (ngSubmit)="edit()">
      <div class="row">
        <div class="col-12">
          <div class="row col-12">
            <div class="col-6">
              <h3 class="text-center">Nombre del equipo</h3>
            </div>
            <div class="col-6">
              <input type="text" class="form-control" formControlName="teamName">
            </div>
          </div>
          <div class="row col-6 mt-3 m-1">
            <button class="btn btn btn-primary mb-2 " type="submit" [disabled]="teamsEditForm.invalid">Editar</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
