<div class="container">
  <div class="title">
    <p>Editar el nombre del Equipo</p>
  </div>

  <div>
    <form [formGroup]="teamsEditForm" (ngSubmit)="edit()">

      <div class="input-group">
        <label class="input-fill">
          <input type="text" class="form-control" placeholder="Nuevo nombre" formControlName="teamName" autocomplete="off">
        </label>
      </div>
      <button class="btn btn btn-primary mb-2 " type="submit" [disabled]="teamsEditForm.invalid">Editar</button>
    </form>
  </div>
</div>
